@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    background-color: rgb(47, 45, 45);
    color: rgb(255, 255, 255);
    padding: 0px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 3px;
    
}